In [1]:
import pandas as pd

In [8]:
df = pd.read_csv('D:\CoL\colsom00.txt',sep="|",header=None)

C:\Users\siegl\AppData\Local\Temp\ipykernel_10972\3907306101.py:1: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('D:\CoL\colsom00.txt',sep="|",header=None)

In [12]:
df.columns=['Year','State.Code','State.Abbr','County.Code','County.Name','Commodity.Code','Commodity.Name', \
                   'Insurance.Plan.Code','Insurance.Plan.Abbr','Coverage.Category','Stage.Code','Damage.Cause.Code', \
                   'Damage.Causes.Descr','Month.Of.Loss','Month.Of.Loss.Name','Year.Of.Loss','Policies.Earning.Premium', \
                   'Policies.Indemnified','Net.Planted.Acres','Net.Endorsed.Acres', 'Liability','Total.Premium','Producer.Paid.Premium',\
                  'Subsidy','State/Provate.Subsidy','Additional.Subsidy','EFA.Premium.Discount','Determined.Acres','Indemnity.Amount','Loss.Ratio']

In [13]:
df.head()

,Year,State.Code,State.Abbr,County.Code,County.Name,Commodity.Code,Commodity.Name,Insurance.Plan.Code,Insurance.Plan.Abbr,Coverage.Category,...,Liability,Total.Premium,Producer.Paid.Premium,Subsidy,State/Provate.Subsidy,Additional.Subsidy,EFA.Premium.Discount,Determined.Acres,Indemnity.Amount,Loss.Ratio
0,2000,1,AL,1,Autauga,11,WHEAT,90,NaN,A,...,909.60,146.0,64.00,82.00,0.0,0.0,21.20,14.800,170.80,1.17
1,2000,1,AL,1,Autauga,11,WHEAT,90,NaN,A,...,2052.40,329.6,144.40,185.20,0.0,0.0,48.00,33.400,2052.40,6.23
2,2000,1,AL,1,Autauga,11,WHEAT,90,NaN,A,...,1364.40,219.0,96.00,123.00,0.0,0.0,31.80,22.200,256.20,1.17
3,2000,1,AL,1,Autauga,11,WHEAT,90,NaN,A,...,3078.60,494.4,216.60,277.80,0.0,0.0,72.00,50.100,3078.60,6.23
4,2000,1,AL,1,Autauga,21,COTTON,44,NaN,A,...,768.72,171.0,82.02,88.98,0.0,0.0,27.36,3.786,477.54,2.79

In [34]:
filenames = ['colsom90','colsom91','colsom92','colsom93','colsom94','colsom95','colsom96','colsom97','colsom98','colsom99', \
             'colsom00','colsom01','colsom02','colsom03','colsom04','colsom05','colsom06','colsom07','colsom08','colsom09','colsom10',\
             'colsom11','colsom12','colsom13','colsom14','colsom15','colsom_2016','colsom_2017','colsom_2018','colsom_2019','colsom_2020',\
             'colsom_2021','colsom_2022']
df = pd.read_csv('D:\CoL\colsom89.txt',sep="|",header=None)
colnames=['Year','State.Code','State.Abbr','County.Code','County.Name','Commodity.Code','Commodity.Name', \
                   'Insurance.Plan.Code','Insurance.Plan.Abbr','Coverage.Category','Stage.Code','Damage.Cause.Code', \
                   'Damage.Causes.Descr','Month.Of.Loss','Month.Of.Loss.Name','Year.Of.Loss','Policies.Earning.Premium', \
                   'Policies.Indemnified','Net.Planted.Acres','Net.Endorsed.Acres', 'Liability','Total.Premium','Producer.Paid.Premium',\
                  'Subsidy','State/Provate.Subsidy','Additional.Subsidy','EFA.Premium.Discount','Determined.Acres','Indemnity.Amount','Loss.Ratio']

In [20]:
name = "D:/CoL/" + filenames[1] + ".txt"
print(name)

D:/CoL/colsom91.txt

In [35]:
x = len(filenames)-1
for i in range(0,x):
    name = 'D:/CoL/' + filenames[i] + '.txt'
    temp = pd.read_csv(name,sep="|",header=None)
    df=pd.concat([df,temp])
df.columns=colnames

In [36]:
df.tail()

,Year,State.Code,State.Abbr,County.Code,County.Name,Commodity.Code,Commodity.Name,Insurance.Plan.Code,Insurance.Plan.Abbr,Coverage.Category,...,Liability,Total.Premium,Producer.Paid.Premium,Subsidy,State/Provate.Subsidy,Additional.Subsidy,EFA.Premium.Discount,Determined.Acres,Indemnity.Amount,Loss.Ratio
133448,2022,56,WY,45,Weston,9999,All Other Crops,90,APH,A,...,666.0,158.5,65.0,93.5,0.0,0.0,0.0,5.3325,410.25,2.59
133449,2022,56,WY,45,Weston,9999,All Other Crops,13,RI,A,...,1862.0,419.0,205.0,214.0,0.0,0.0,0.0,0.0000,894.00,2.13
133450,2022,56,WY,45,Weston,9999,All Other Crops,13,RI,A,...,5631.0,1306.0,640.0,666.0,0.0,0.0,0.0,0.0000,4268.00,3.27
133451,2022,56,WY,45,Weston,9999,All Other Crops,13,RI,A,...,5142.0,1255.0,615.0,640.0,0.0,0.0,0.0,0.0000,4225.00,3.37
133452,2022,56,WY,999,All Other Counties,9999,All Other Crops,1,YP,A,...,156820.0,21836.0,11355.0,10481.0,0.0,0.0,0.0,329.8300,67960.00,3.11

In [37]:
df.to_csv('D:/CoL/MainCoL.csv')